.vscode
*.o
*.out
*.swp
.DS_Store
admin_matsushita/
app_and_lib/
sdl/sdl_tutorial_LazyFoo/
project/dragon-quest-js/teaching_material/
db/receipt
teaching_materials
web/django/django_locallibrary_tutorial/

